.container
  details(open)
    summary myproject
    .folder
      p app.py
      p package.json
      details(open)
        summary static
        .folder
          detailsi
            summary css
            .folder
              p index.css
              p template.css
          details(open)
            summary js
            .folder
              p index.js
              p jquery-min.js
          details
            summary img
            .folder
              p banner.png
              p foo.png
      details(open)
        summary templates
        .folder
          p index.html
          p template.html
